@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #D9BD9C, #C9A869)
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(122, 102, 64, 0.65);
  width: 850px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #8C6927;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(61, 46, 17, 0.40);
}

h2 {
  color: #A69C94;
}

p {
  text-align: justify;
}